  .logopro {
    font-size: 20px;
    font-family: "Time New Roman";
  }
  
  .C {
    font-size: 30px;
  }
  
  .RI {
    font-size: 30px;
  }
  
  .logoimg {
    padding-top: 4px;
    margin-left: 4px;
    margin-right: 6px;
    width: 40px;
    float: left;
  }
  